<a href="https://colab.research.google.com/github/Marianne859/ds1002-meb5pj/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [ ]:
# code here

## For-Loops with Lists

In [ ]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [5]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
my_list = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for item in my_list:
  if item >= 0:
    print(item)

9
15
23
4
92
47
33
17
18
38

In [13]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
my_list = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for item in my_list:
    absolute_value= abs(item)
    if absolute_value >= 0:
      print(absolute_value)

9
15
23
4
92
47
33
17
4
18
38
242

In [21]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
my_list = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for item in my_list:
  if item <= 20 or item >=40:
    print(item)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [ ]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [25]:
# Write a command to print out all the keys of this dict
mydict= {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}
for thing in mydict:
  print(thing)

United States
Italy
England
Thailand
Brazil

In [26]:
# Write a command to print out all the values of this dict
for thing in mydict:
  print(mydict[thing])

Washington DC
Rome
London
Bangkok
Brasilia

In [27]:
# Write a command to print all the keys and values for this dict
for key, value in mydict.items():
  print(key, " ", value)

United States   Washington DC
Italy   Rome
England   London
Thailand   Bangkok
Brazil   Brasilia

In [36]:
# Write a command to print only the first three values and NOTHING more.
count = 0
for thing in mydict:
    if count < 3:
        print(mydict[thing])
        count += 1

Washington DC
Rome
London